# NOTE: this file is managed by puppet
#
# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
# 
# Default backend definition.  Set this to point to your content
# server.
# 
# Marker to tell the VCL compiler that this VCL has been adapted to the
# new 4.0 format.
vcl 4.0;

#backend default {
#    .host = "127.0.0.1";
#    .port = "8080";
#}

# set probe(s)
#
<% @probes.each do |probe| -%>
probe <%= probe['name'] -%> {
  <%- @probe_params.each do |param| -%>
    <%- next unless probe[param] -%>
    <%- if param == 'url' -%>
  .<%= param -%> = "<%= probe[param] -%>";
    <%- elsif param == 'request' -%>
  .<%= param -%> =
      <%- probe['request'].each do |req_str| -%>
        <%- if req_str == probe['request'][-1] -%>
             "<%= req_str -%>";
        <%- else -%>
             "<%= req_str -%>"
        <%- end -%>
       <%- end -%>
    <%- else -%>
  .<%= param -%> = <%= probe[param] -%>;
    <%- end -%>
  <%- end -%>
}
<%- end -%>

# set backends
# 
<% @backends.each do |backend| -%>
backend <%= backend['name'] -%> {
  .host = "<%= backend['host'] -%>";
  .port = "<%= backend['port'] -%>";
<%- if backend['probe'] -%>  .probe = <%= backend['probe'] -%>; <%- end %>
}
<%- end -%>

# set directors
#
<% @directors.each do |director| -%>
director <%= director['name'] -%> round-robin {
  <%- director['backends'].each do |backend| -%>
  { .backend = <%= backend -%>; }
  <%- end -%>
}
<%- end -%>

<% @acls.each do |acl| -%>
acl <%= acl['name'] -%> {
<% acl['hosts'].each do |host| -%>
	<%= host %>;
<% end -%>
}
<%- end -%>

# 
# Below is a commented-out copy of the default VCL logic.  If you
# redefine any of these subroutines, the built-in logic will be
# appended to your code.
sub vcl_recv {
  # Happens before we check if we have this in cache already.
  #
  # Typically you clean up the request here, removing cookies you don't need,
  # rewriting the request, etc.

  # Unset the cookie in the request header unless this request is for the social admin tool.
  if ( req.http.host !~ "social\-admin.onetwosee" ) {
    unset req.http.Cookie;
  }

  if ( req.http.host ~ "api.social.onetwosee" ) {
    set req.backend_hint = api_social;
  } else if ( req.http.host ~ "social\-admin.onetwosee"  ) {
    set req.backend_hint = social_admin;
  } else if ( req.http.host ~ "api.cbk" ) {
    set req.backend_hint = api_cbk;
  } else if ( req.http.host ~ "api.cfl" ) {
    set req.backend_hint = api_cfl;
  } else if ( req.http.host ~ "api.mlb" ) {
    set req.backend_hint = api_mlb;
  } else if ( req.http.host ~ "api.nba" ) {
    set req.backend_hint = api_nba;
  } else if ( req.http.host ~ "api.nfl" ) {
    set req.backend_hint = api_nfl;
  } else if ( req.http.host ~ "api.nhl.onetwosee" ) {
    unset req.http.Access-Control-Request-Headers;
    set req.backend_hint = api_nhl;
  } else if ( req.http.host ~ "api.onetwosee" ) {
    unset req.http.Access-Control-Request-Headers;
    set req.backend_hint = api_nhl;
  } else if ( req.http.host ~ "api.voting" ) {
    set req.backend_hint = api_voting;
    return(pass);
  } else {
    set req.backend_hint = default;
  }
}

sub vcl_backend_response {
  # Happens after we have read the response headers from the backend.
  #
  # Here you clean the response headers, removing silly Set-Cookie headers
  # and other mistakes your backend does.

  # Responses from the voting api should not be cached no matter what.
  if ( bereq.http.host ~ "api.voting" ) {
    if ( beresp.http.Cache-Control ~ "(no-cache|private)" || beresp.http.pragma ~ "no-cache" ) {
      set beresp.ttl = 0s;
    }
  }

  # Let the social admin set the Set-Cookie header. We do not need to cache responses from this backend.
  if ( bereq.http.host !~ "social\-admin.onetwosee" ) {
    unset beresp.http.Set-Cookie;
  }

}

sub vcl_deliver {
  # Happens when we have all the pieces we need, and are about to send the
  # response to the client.
  #
  # You can do accounting or modifying the final object here.

  # Explicitly set Access-Control-Allow-Origin to * for all responses.
  unset resp.http.Access-Control-Allow-Origin;
  set resp.http.Access-Control-Allow-Origin = req.http.origin;
  set resp.http.Access-Control-Allow-Credentials = "true";

  return (deliver);
}


  # backend selection
  #
<%- if @selectors.size == 1 -%>  
  set req.backend = <%= @selectors[0]['backend'] -%>;
<%- else -%>
<%- @selectors.each do |selector| -%>
<%- if @selectors[0] == selector -%>
  if (<%= selector['condition'] -%>) {
    set req.backend = <%= selector['backend'] -%>;
<%- elsif @selectors[-1] == selector -%>
  } else {
    set req.backend = <%= selector['backend'] -%>;
  }
<%- else -%>
  } elsif (<%= selector['condition'] -%>) {
    set req.backend = <%= selector['backend'] -%>;
<%- end -%>
<%- end -%>
<%- end -%>
  
  